@charset “utf-8”;

header h1{
    font-size:24pt;
    margin:10px;
}

nav ul{
    list-style-type:none;
    text-align:center;
    padding:5px 0;
    background-color:#C7D8E1;
}

nav li{
    display:inline-block;
    width:30%;
    margin:0;
}

nav a{
    padding:10px 0;
    display:block;
    text-decoration:none;
    background-color:#D7F3FF;
    transition:all 0.3s ease;
}
nav a:hover{
    background-color:#A7E5FF;
}
